body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    padding-bottom:60px;
}

h1 {
    color: #1b136c;
}

.topnav {
    background-color: #222222;
    overflow: hidden;   
}

.logga img {
    height: 60px;
}

.companyname h3{
    float: left;
    text-align: center;
    padding: 0;
    margin-top: 14px;
    margin-bottom: 0;
    margin-left: 35px;
    color: #f2f2f2;
    font-size: 25px;
}

.navigation {
margin-left: 500px;
}

.navigation a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 6px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;

}

.navigation a:hover {
    background-color: #ddd;
    color: black;
    
}



.login a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 6px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;

}

.login a:hover {
    background-color: #ddd;
    color: black;
}

.loggedinas {
    float: right;
    color: #8b8888;
    text-align: center;
    padding: 0px;
    margin-top: 6px;
    margin-right: 30px;
    font-size: 13px;
}

.req_field {
    color: #a00000;
}

.valid-entry {
    font-size: 80%;
    line-height: 0.5;
    color: #28a745;
    margin-bottom: 1rem!important;
}

.invalid-entry {
    font-size: 80%;
    line-height: 0.5;
    color: #dc3545;
    margin-bottom: 1rem!important;
}

.welcometext {
    float: left;
    width: 50%;
    margin-top: 100px;
    margin-left: 50px;
    z-index: 1;

}

.welcometext h1 {
    color: #1b136c;
}

.questionAnswers {
    padding-top: 10px;
    padding-bottom: 10px;
}

.active {
    background-color: #72a1fa;
}

.loginbox {
    margin-top: 80px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 150px;
    padding: 60px 130px 75px 120px;
    width: 300px;
    background-color: #49fb35;
}

.login_p {
    text-align: center;
    color: #ffffff;
}

.login_register_link {
    padding: 10px 0px;
    font-size: 12px;
    width: 70%;
    border: none;
    margin-top: 10px;
    float: right;
    text-align: right;
}

.errormsg {
    color: #ffffff;
}

#signup {
    background-color: #ffffff;
    color: #222222;
}

#login_h1 {
    font-size:70px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #ffffff;
}

#login_label {
    display: block;
    font-size: 16px;
    margin-bottom: 4px;
    margin-top: 15px;
    color: #353636;
}

#login_input {
    padding: 10px 8px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #000000;
    color: #8b8888; 
    border-radius: 5px;
    outline: none;
    display: block;
    background-color: #f6f9ff
}

#main {
    width: max-content;
    margin: 15px auto;
    font-family: "Segoe UI", sans-serif;
    padding: 20px 28px;
    border-radius: 4px;
}

#login_button {
    padding: 10px 18px;
    font-size: 15px;
    background: #537720;
    width: 30%;
    border: none;
    border-radius: 5px;
    color: #f4f4f4;
    margin-top: 10px;
    transition-duration: 0.4s;
}

#login_button:hover {
    background-color: #4CAF50;
    color: white;
}

#login_body {
    background-color: #353636;
}

.errormsg {
    color: #ffffff;
}

.analyticsTable {
    width: 45%;
    margin: 0px 10px 10px;
    background-color: #ffffff;
    border: 1px solid;
    text-align: center;
}

#tableHeads {
    background-color: #1b136c;
    color: white;
    font: 18px Arial, sans-serif;
    padding: 3px;
    height: 20px
}

#tableBodies {
    background-color: #fffefe;
    border-bottom: 1px solid;
    padding: 5px;
}

#tableTitles {
    color: #1b136c;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    font: 25px Arial, sans-serif;
    font-weight: bold;
}

.manageUsers {
    width: 85%;
    margin: 20px 10px 10px;
    background-color: #ffffff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 36px;
}

#manageUsersHeads {
    background-color: #10095d;
    color: white;
    font: 20px Arial, sans-serif;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
}

#manageUsersHeadsFirst {
    background-color: #10095d;
    border-radius: 15px 0px 0px 0px;
    color: white;
    font: 18px Arial, sans-serif;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
}

#manageUsersHeadsLast {
    background-color: #10095d;
    border-radius: 0px 15px 0px 0px;
    color: white;
    font: 18px Arial, sans-serif;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
}

#manageUsersBodies {
    background-color: #fffefe;
    font: 16px Arial, sans-serif;
    border-bottom: 1px solid;
    padding: 2px;
}

#manageUsersBodiesFirst {
    background-color: #fffefe;
    border-bottom: 1px solid;
    padding: 5px;
}

#manageUsersBodiesLast {
    background-color: #fffefe;
    border-bottom: 1px solid;
    padding: 5px;
    font: 18px Arial, sans-serif;
}

.updateUsersForm {
    max-width: 700px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
    margin-top: 0px;
	border-radius: 10px;
	border: 6px solid #1b136c;
}

.updateUsersForm label {
	padding: 5px;
    text-align: center;
    margin: 0px;
}

#userisadmin {
    font-size: 200%;
    font-weight: bold;
    font-variant-caps: petite-caps;
    color:#ff0000;
    text-align: center;
    margin: 0%;
}

#updateuserH1 {
    font-weight: bold;
    font-variant-caps: petite-caps;
    text-align: center;
    color: #1b136c;
    margin-top: 15px;
}

#adduserlink {
    font-weight: bold;
    font-size: 200%;
    font-variant-caps: petite-caps;
    color: #1b136c;
}

#adduserdiv {
    margin: auto;
    padding: 10px;
    text-align: center;
}